<div class="ui grid">
    <div class="centered row">
        <div class="ten wide column">
            <form class="ui form" 
            [formGroup]="mainForm">
                <div class="two fields">
                    <div class="field">
                        <select class="ui fluid dropdown" name="from" [formControl]="mainForm.controls['from']">
                            <option *ngFor="let station of stations" value="{{station.id}}">{{station.title}}</option>
                        </select>
                    </div>
                    <div class="field">
                        <select class="ui fluid dropdown" name="to" [formControl]="mainForm.controls['to']">
                            <option *ngFor="let station of stations" value="{{station.id}}">{{station.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <input type="date" name="when" placeholder="When" [formControl]="mainForm.controls['when']">
                    </div>
                    <div class="field">
                        <input type="text" name="time" placeholder="Time" [formControl]="mainForm.controls['time']">
                    </div>
                </div>
                <div class="two fields">
                    <div class="field">
                        <input type="text" name="sessid" placeholder="sessid" [formControl]="mainForm.controls['sessid']">
                    </div>
                    <div class="field">
                        <input type="text" name="GV-Token" placeholder="GV-Token" [formControl]="mainForm.controls['gvToken']">
                    </div>
                </div>
                <button *ngIf="!searching" class="ui button" (click)="startClick(mainForm.value)">Start Search</button>
                <button *ngIf="searching" class="ui button" (click)="forceClick(mainForm.value)">Force Search</button>
                <button *ngIf="searching" class="ui button" (click)="stopClick(mainForm.value)">Stop Search</button>
            </form>
        </div>
    </div>
</div>